line-length = 120
preview = true

[analyze]
preview = true

[format]
docstring-code-format = true
preview = true

[lint]
ignore = [
  "ANN401",
  "BLE001",
  "C901",
  "CPY001",
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "D105",
  "D106",
  "D107",
  "D414",
  "EM101",
  "EM102",
  "FBT001",
  "FBT002",
  "PLR0904",
  "PLR0911",
  "PLR0912",
  "PLR0913",
  "PLR0914",
  "PLR0915",
  "PLR0916",
  "PLR0917",
  "RET504",
  "RUF010",
  "S101",
  "T100",
  "TC001",
  "TC002",
  "TC003",
  "TC006",
  "TRY003",
  "TRY400",
]
preview = true
select = ["ALL"]

[lint.flake8-import-conventions.extend-aliases]
"datetime" = "dt"

[lint.flake8-import-conventions.banned-aliases]
"datetime.datetime" = ["dt"]

[lint.flake8-tidy-imports]
ban-relative-imports = "all"

[lint.isort]
required-imports = ["from __future__ import annotations"]

[lint.pydocstyle]
convention = "google"
